/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

 .wp-block-wp-authors-byline  {
  list-style: none;

  &:before {
    content: 'By\00a0';
  }

  li {
   display: inline-block;
  }

  li + li {
    &:before {
      content: ',\00a0';
    }

    &:last-child {
      &:before {
        content: '\00a0 and\00a0';
      }
    }
  }

}